@import '../../../../src/plugins/vuetify/preset/variables';

.style-guide-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}

.style-guide-row {
  .element-container {
    width: 200px;
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
  }

  .code-container {
    flex-grow: 1;
    min-width: 300px;
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    .style-guide-row {
      flex-direction: column;
    }

    .element-container {
      width: 100%;
    }
  }

  .copied-text {
    background: var(--sr-primary);
    color: var(--sr-white);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: $input-font-size;
    font-weight: map-get($font-weights, 'medium');
    opacity: 1;
    z-index: 10;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(0);
    font-family: $body-font-family;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s, transform 0.3s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateY(-5px);
  }
}
