@import '~vuetify/src/styles/settings/_variables';

.sg-iconset {
  --icon-size: 80px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, var(--icon-size));

  & > div {
    height: var(--icon-size);
    background-color: var(--sr-light-grey);
    padding: 30px;
    margin-bottom: 5px;
  }
}
