@import '../../../../../src/plugins/vuetify/preset/variables';

.sg-iconset {
  --icon-size: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.sg-icon-container {
  height: var(--icon-size);
  width: var(--icon-size);
  background-color: var(--sr-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.sg-iconset > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

sr-code-block {
  flex-grow: 1;
  min-width: 300px;
}
