.sr-multi-checkbox {


  .checkbox-container > .preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox-container {
    height: 100px;
    width: 400px;
    min-height: 100px;
    min-width: 400px;
    max-width: 600px;
    max-height: 500px;
    overflow-y: auto;
    resize: both;
    border-radius: 3px;
    border: 1px solid var(--sr-pale-gray);
    background-color: var(--sr-white);
    padding: 0.2em 1em 1em 1em;
  }

  .multi-checkbox-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
    padding-left: 16px;
    margin-top: 1em;
  }

  .multi-checkbox-separator {
    color: var(--sr-light-grey);
  }
}
