@import '~vuetify/src/styles/settings/_variables';

.admin-style-guide-layout {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr;

  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    grid-template-columns: 1fr;
  }

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    grid-template-columns: 250px 1fr;
  }

  @media #{map-get($display-breakpoints, 'lg-and-up')} {
    grid-template-columns: 300px 1fr;
  }
}

.admin-style-guide__menu {
  position: sticky;
  top: 60px;
  height: 100vh;
}

.sg-page-header {
  padding: 30px 0 60px 0;
}

.sg-section {
  margin-top: 60px;
  margin-bottom: 40px;
}

.sg-section-header {
  border-left: 5px solid var(--sr-black);
  padding: 0 0 0 15px;
  line-height: 1.2;
  text-transform: uppercase;
}

.sg-subsection {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 50px;

  h2 {
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    padding-left: 40px;
    text-transform: uppercase;
    &:before {
      content: "";
      display: block;
      width: 30px;
      height: 4px;
      background: var(--sr-black);
      position: absolute;
      left: 0;
      top: calc(50% - 2px);
    }
  }
  h4 {
    font-weight: 400;
    border-left: 3px solid var(--v-secondary-base);
    padding: 0 0 0 15px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.sg-block {
  margin-top: 50px;
}

.sg-button-list {
  display: flex;
  justify-content: space-between;
}

.sg-button-type {
  flex: 0 0 20%;
}
