#sr-styleguide:has(div.new-style > .sr-module) {
  overflow-y:auto;
  overflow-x:auto;
}

.new-style > div.v-application.sr-module {
  background: unset;
}

.new-style > div.v-application.sr-module > div.v-application--wrap {
  min-height: unset;
  max-width: unset;
}
