.admin-breadcrumbs {
  padding: 0;

  .v-breadcrumbs {
    &__item {
      transition: none;
      color: var(--sr-link-grey) !important;

      &:hover {
        color: var(--sr-dark-grey) !important;
      }

      .v-icon {
        margin-right: 5px;
        color: inherit;
      }
    }

    &__divider {
      padding: 0 5px;
    }
  }

  li:last-child {
    font-weight: 500;
  }
}
