@import '~vuetify/src/styles/settings/_variables';

.code-block {
  position: relative;
  background: transparent;
  padding: 0;
  border-radius: 0;
  color: #333;
  font-family: monospace;
  overflow-x: auto;
  overflow-y: auto;
  width: 500px;
  font-size: 14px;
  line-height: 1.4;
}

.code-block {
  pre {
    background: var(--sr-light-grey) !important;
    border: none !important;
    border-radius: 5px;
    padding: 12px 40px 12px 12px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
  }

  code {
    background: none !important;
    border: none !important;
    font-weight: bold;
  }
}
