@import "../../../../plugins/vuetify/preset/style/scss/mixins/breakpoints";

.page-layout--slim {
  margin: 0 auto 70px auto;
  padding: 0 30px;
  @include media-breakpoint-up(sm) {
    max-width: $container-slim-width-sm;
  }
  @include media-breakpoint-up(md) {
    max-width: $container-slim-width;
  }
}
