.font-family-box {
    background-color: var(--sr-primary);
    margin-bottom: 20px;
}

.headings-font-label {
    color: var(--sr-primary);
}

.font-family-normal {
    width: 180px;
    display: inline-flex;
}

.font-family-list {
    font-size: 20px;
}

.headings-table-title,
.headings-table-row {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}

.headings-table-row {
    margin: 40px 0;
}

.headings-font-label {
    text-transform: uppercase;
}
