.sr-page {
  div:has(> .breadcrumb-container):has(> .help-btn-container) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $container-padding-x
  }

  .breadcrumb-container {
    flex: 1;
  }

  .help-btn-container {
    flex: 1;
    text-align: right;
  }
}
